/*
Template Name: Educational Theory
File: Homepage CSS
Author: OS Templates
Author URI: http://www.os-templates.com/
Licence: <a href="http://www.os-templates.com/template-terms">Website Template Licence</a>
*/

#hpage_featured_info{
	position:relative;
	margin:0 auto 0;
	display:block;
	width:960px;
	padding-bottom:20px;
	}

#hpage_featured_info ul{
	margin:0;
	padding:0;
	list-style:none;
	}

#hpage_featured_info li{
	display:block;
	float:left;
	width:300px;
	margin-right:30px;
	}

#hpage_featured_info li a{
	display: block;
	width: 300px;
	height: 120px;
	color: #333333;
	background-color: #EBEBEB;
	font-size: 14px;
	text-transform: none;
	overflow: hidden;
	}

#hpage_featured_info li a strong{
	display:block;
	float:right;
	width:160px;
	height:85px;
	padding-top:35px;
	text-align:center;
	font-weight:normal;
	cursor:pointer; /* IE7 Doesnt render the cursor properly so this is needed */
	}

#hpage_featured_info li img{
	display:block;
	float:left;
	width:140px;
	height:120px;
	}

#hpage_featured_info  li.last{
	margin:0;
	}

/* ----------------------------------------------Specific For The Homepage-------------------------------------*/

#homepage{
	display:block;
	width:100%;
	}

#homepage .fl_left{
	display:block;
	width:630px;
	}

#homepage .fl_left ul{
	margin:0;
	padding:0;
	list-style:none;
	}

#homepage .fl_left ul li{
	display:block;
	float:left;
	width:300px;
	margin:0 0 10px 0;
	padding:0 0 10px 0;
	border-bottom:1px solid #D8D8D8;
	}

#homepage .fl_left ul li.odd{
	margin-right:30px;
	}

#homepage .fl_left ul li a{
	font-weight:bold;
	}

#homepage .fl_left ul li p{
	margin:6px 0 0 0;
	padding:0;
	}

#homepage .fl_left ul li .imgholder{
	float:left;
	margin:0 15px 0 0;
	clear:left;
	}

#homepage .fl_right{
	display:block;
	width:300px;
	}

#homepage .fl_right img{
	padding:0 0 18px 0;
	background:url("../images/shadow.gif") bottom center no-repeat;
	}
