/*

 * This file is a part of Mibew Messenger.

 *

 * Copyright 2005-2015 the original author or authors.

 *

 * Licensed under the Apache License, Version 2.0 (the "License");

 * you may not use this file except in compliance with the License.

 * You may obtain a copy of the License at

 *

 *     http://www.apache.org/licenses/LICENSE-2.0

 *

 * Unless required by applicable law or agreed to in writing, software

 * distributed under the License is distributed on an "AS IS" BASIS,

 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.

 * See the License for the specific language governing permissions and

 * limitations under the License.

 */



html, body {

	height: 100%;
       
}

body {

	margin: 0;

	padding: 0;

	font: normal 11px Tahoma;

	line-height: 1;

	background: transparent !important;

}

.body {

	min-width: 300px;

}

a {

	text-decoration: underline;

	color: #008AD9;

}

a:hover {

	text-decoration: none;

}

img {

	vertical-align: bottom;

	border: 0 none;

}

.clear {

	clear: both;

	height: 0;

	font-size: 0;

	line-height: 0;

}



/* layout chat */

#top {

	position: relative;

	padding: 5px 14px;

	background: #FFF url("images/topbg.gif") scroll repeat-x 0 100%;

	_zoom:1; /* IE6 fix */

}

#chatheader {

	position: relative;

	padding: 0 10px;

	background: #F1F2F2 url("images/chatheaderbg.gif") scroll repeat-x 0 0;

	_zoom:1; /* IE6 fix */

}

#chat {

	padding: 0 10px;

	background: #F1F2F2;

}

#message {

	padding: 0 10px;

	background: #F1F2F2;

}

#send {

	padding: 0 10px 5px;

	background: #FFF url("images/bottombg.gif") scroll repeat-x 0 0;

}

#footer {

	width: 400px;

	margin: 0 auto;

	padding-top: 5px;

	text-align: center;

	color: #999;

}

#footer a {

	color: #999;

}

/* ----------- */



/* #chatheader */

#chatheader .bgc {

	background: #FFF url("images/chatheaderbgc.gif") scroll repeat-x 0 0;

}

#chatheader .bgl {

	background: transparent url("images/chatheaderbgl.gif") scroll no-repeat 0 0;

	_zoom:1; /* IE6 fix */

}

#chatheader .bgr {

	height: 42px;
      

	background: transparent url("images/chatheaderbgr.gif") scroll no-repeat 100% 0;

}

#logo {

	font: normal 17px Arial;

	color: #495151;

}

#logo img {

	margin-top: 2px;

	margin-bottom: -2px;

}

#logo a {

	float: left;

	text-decoration: none;

}

#page-title {

	position: absolute;

	right: 14px;

	bottom: 5px;

	text-align: right;

}

/* ----------- */



/* buttons & username */

.buttons {

	position: absolute;

	top: 15px;

	right: 25px;

}

.tplimage {

	width: 16px;

	height: 16px;

	margin: 0 0 0 11px;

	background: transparent url("images/buttons.gif") scroll no-repeat 0 0;

}

.empty {

	width: 2px;

	height: 16px;

	margin: 0 0 0 11px;

}

.fontreduce {

	background-position: -160px -16px;

}

a:hover .fontreduce {

	background-position: -160px 0;

}

.fontenlarge {

	background-position: -176px -16px;

}

a:hover .fontenlarge {

	background-position: -176px 0;

}

.iemail {

	background-position: -32px -16px;

}

a:hover .iemail {

	background-position: -32px 0;

}

.isend {

	background-position: -96px -16px;

}

a:hover .isend {

	background-position: -96px 0;

}

.ihistory {

	background-position: -112px -16px;

}

a:hover .ihistory {

	background-position: -112px 0;

}

.isound {

	background-position: -48px -16px;

}

a:hover .isound {

	background-position: -48px 0;

}

.inosound {

	background-position: -64px -16px;

}

a:hover .inosound {

	background-position: -64px 0;

}

.irefresh {

	background-position: -80px -16px;

}

a:hover .irefresh {

	background-position: -80px 0;

}

.issl {

	background-position: -144px -16px;

}

a:hover .issl {

	background-position: -144px 0;

}

.iclosewin {

	background-position: -128px -16px;

}

a:hover .iclosewin {

	background-position: -128px 0;

}

.iexec {

	background-position: 0 -16px;

}

a:hover .iexec {

	background-position: 0 0;

}

.ichangeuser {

	background-position: -16px -16px;

}

a:hover .ichangeuser {

	background-position: -16px 0;

}

#changename1 {

	float: left;

	display: block;

	height: 24px;

	font-size: 14px;

	margin-left: 10px;

}

.input-name {

	width: 95px;

	height: 16px;

	padding: 3px;

	display: block;

	float: left;

	margin-left: 10px;

	margin-top: 14px;

	background: #FFF url("images/input_name.gif") scroll no-repeat 0 0;

	_background-color: transparent;

}

#uname {

	width: 95px;

	height: 16px;

	margin: 0;

	padding: 0;

	border: 0 none;

	font: normal 12px Tahoma;

}

.changename {

	display: block;

	float: left;

	margin-top: 16px;

}

#changename2 {

	float: left;

	display: block;

	margin-left: 10px;

	height: 24px;

	font-size: 14px;

	

}

#changename2.agent {

	margin-top: 18px;

}

#unamelink {

	font: normal 12px Tahoma;

	display: block;

	float: left;

	margin-left: 10px;

	padding-top: 18px;

}

.you {

	display: block;

	float: left;

	padding-top: 18px;

}

.you2 {

	display: block;

	float: left;

	padding-top: 18px;

}

/* ------------------ */



/* #chat */

#chat .bgl {

	background: #FFF url("images/chatbgl.gif") scroll repeat-y 0 0;

}

#chat .bgr {

	background: transparent url("images/chatbgr.gif") scroll repeat-y 100% 0;

}

#chat .sdwbgc {

	background: transparent url("images/sdwbgc.png") scroll repeat-x 0 100%;

}

#chat .sdwbgl {

	background: transparent url("images/sdwbgl.png") scroll no-repeat 0 100%;

}

#chat .sdwbgr {

	position: relative;

	padding: 0 4px 38px;

	background: transparent url("images/sdwbgr.png") scroll no-repeat 100% 100%;

	_zoom:1; /* IE6 fix */

}

#inf {

	position: absolute;

	bottom: 20px;

	left: 14px;

	font-size: 12px;

	color: #333;

}

#avatar-wrapper {

	position: absolute;

	top: 0;

	right: 4px;

	width: 120px;

	background: #EEE url("images/avatarbg.gif") scroll repeat-y 100% 0;

}

#avatarwnd {

	width: 100px;

	height: 100px;

	margin: 10px auto 0 auto;

	text-align: center;

	background: transparent url("images/avatar.jpg") scroll no-repeat 50% 10px;

	line-height: 0;

	font-size: 0;

}

#content {

	padding: 10px;

	font: normal 10px Tahoma;

	line-height: 1.8em;

	color: #999;

}

#content .minf {

	font-size: 1.1em;

	color: #7BAA0F;

}

#content .mhidden, 

#content .mevent {

	font-size: 1.1em;

}

#content .nagent {

	font-size: 1.1em;

	font-weight: bold;

	color: #000;

}

#content .nuser {

	font-size: 1.1em;

	font-weight: bold;

	color: #DA251D;

}

#content .magent, 

#content .muser {

	font-size: 1.1em;

	color: #000;

}

/* ----- */



/* #message */

#message .bgc {

	background: #FFF url("images/message.png") scroll repeat-x 0 -95px;

}

#message .bgl {

	background: transparent url("images/message.png") scroll no-repeat 0 0;

}

#message .bgr {

	height: 58px;
       weidth: auto;

	padding: 14px 14px 23px;

	background: transparent url("images/message.png") scroll no-repeat 100% -190px;

}

#msgwnd {

	overflow: auto;

	width: 100%;

	height: 100%;

	margin: 0;

	padding: 0;

	font: normal 12px Tahoma;

	border: 0 none;

	background: transparent;

	resize: none; /* disable resize textarea in google chrome, safari and firefox 4 */

}

/* -------- */



/* #send */

#postmessage {

}

#sndmessagelnk {

	float: right;

	width: 190px;

	height: 33px;

	font: normal 17px Arial;

	line-height: 30px;

	text-align: center;

	text-decoration: none;

	color: #495151;

	background: url("images/submit.gif") no-repeat 0 0 transparent;

}

#sndmessagelnk:hover {

	color: #000;

	background: url("images/submit.gif") no-repeat -190px 0 transparent;

}

#predefined-wrapper {

	float: left;

	padding: 5px 0 0 3px;

}

#predefined {

	width: 200px;

}

/* ----- */



/* error.tpl */

#top2 {

	position: relative;

	padding: 5px 14px;

	background: #FFF url("images/logobg.gif") scroll repeat-x 0 100%;

	_zoom:1; /* IE6 fix */

}

.bgbody {

	background: #FFF !important;

}

.wndb {

	background: #FFF url("images/wndb.gif") scroll repeat-x 0 100%;

}

.wndl {

	background: transparent url("images/chatbgl.gif") scroll repeat-y 0 0;

}

.wndr {

	background: transparent url("images/chatbgr.gif") scroll repeat-y 100% 0;

}

.wndt {

	background: transparent url("images/wndt.gif") scroll repeat-x 0 0;

}

.wndtl {

	background: transparent url("images/wndtl.gif") scroll no-repeat 0 0;

}

.wndtr {

	background: transparent url("images/wndtr.gif") scroll no-repeat 100% 0;

}

.wndbl {

	background: transparent url("images/wndbl.gif") scroll no-repeat 0 100%;

}

.wndbr {

	position: relative;

	padding: 14px;

	background: transparent url("images/wndbr.gif") scroll no-repeat 100% 100%;

}

.wndbr .buttons {

	top: 14px;

}

#headers {

	padding: 0 10px;

	background: #F1F2F2;

}

#content-wrapper {

	padding: 10px 14px 50px;

	background: transparent url("images/content.gif") scroll repeat-x 0 -2px;

}

#content-wrapper {

	font: normal 13px Arial;

}

.messagetxt {

	padding: 0 60px 0 0;

	font: normal 13px Arial;

}

/* --------- */



/* redirect.tpl */

.left {

	float: left;

	width: 49%;

}

.right {

	float: right;

	width: 49%;

}

.center {

	padding-top: 30px;

	text-align: center;

}

ul {

	margin: 10px 0;

	padding: 0 0 0 10px;

	list-style: none outside none;

}

ul li {

	margin: 0 0 4px;

	padding: 0 0 0 10px;

	list-style: none outside none;

	background: transparent url("images/list.gif") scroll no-repeat 0 5px;

}

/* ------------ */



/* other */

.form {

	margin: 0;

	padding: 0;

	border: 0;

	border-collapse: collapse;

	vertical-align: top;

}

.form td {

	margin: 0;

	padding: 5px;

	border: 0;

	border-collapse: collapse;

	vertical-align: top;

}

#content-wrapper #sndmessagelnk {

	float: left;

	margin-top: 10px;

}

#content-wrapper input, 

#content-wrapper textarea, 

.wndbr input {

	border: 1px solid #BBC4C4;

}

/* ----- */