*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.tab_wrap{
    border:1px solid #999;
    max-width:300px;
    width: 100%;
}
.tabs {
    width: 100%;
    margin: auto;
    overflow: hidden;  
    background: #F9F9F9;
}
.tabs ul {
    list-style: none;
    overflow: hidden;
    padding: 0;
    margin: 0;     
}
.tabs li a {
   /* width:50%; */
    color: #444444;
    display: block;
    float: left;
    font-weight:bold;  
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border:none;
    border-left:1px solid #d9d9d9;
    border-bottom:1px solid #d9d9d9;   
}
.tabs li a:hover {
    color: #7d7d7d;
    background:#FFFFFF;
}
.tabs li:first-child a {
    border-left:none;
}
.tabs li a.active {
    background:#FFFFFF;
    border:none;
    border-left:1px solid #d9d9d9;
    border-bottom:1px solid #FFFFFF;   
}
.tabs li:first-child a.active {
    border:none;
    border-bottom:1px solid #FFFFFF;   
}
.tabs li:last-child a.active {
    border:none;
    border-left:1px solid #d9d9d9; 
    border-bottom:1px solid #FFFFFF;   
}
.tab_content {
    background:#FFF;
    padding:0;
    display:none;  
}
.tab_content.active{
    display:block; 
}
.tab_content ul {
    margin:0px;
    padding:0px;
    list-style:none;   
}
.tab_content li {
    display:block;
    overflow: hidden;  
    border-bottom:1px solid #d6dde0;   
}
.tab_content li:last-child {
    border-bottom:none;
}
.tab_content li a {
    display:block;
    list-style:none;
    overflow: hidden;  
    padding:10px;          
    text-decoration:none;
    color:#444444;
}
.tab_content li a:hover {
    color:#000000;
    background:#F5F5F5;
}
.tab_content li small {
    color:#AAAAAA;
    font-size:11px;
    font-style:italic;
}
.tab_content li a:hover small {
    color:#AAAAAA;
}

/******************************************************pin code*****************************************************/
  /* Mask for background, by default is not display */
#mask {
    display: none;
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: 999;
}

/* You can customize to your needs  */
.login-popup {
    display: none;
    background: #333;
    padding: 10px;
    border: 2px solid #ddd;
    float: left;
    font-size: 1.2em;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 99999;
    box-shadow: 0px 0px 20px #999;
    /* CSS3 */
        -moz-box-shadow: 0px 0px 20px #999;
    /* Firefox */
        -webkit-box-shadow: 0px 0px 20px #999;
    /* Safari, Chrome */
	border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px;
    /* Firefox */
        -webkit-border-radius: 3px;
    /* Safari, Chrome */;
}

img.btn_close {
    Position the close button
	float: right;
    margin: -28px -28px 0 0;
}

fieldset {
    border: none;
}

form.signin .pin_textbox label {
    display: block;
    padding-bottom: 7px;
}

form.signin .pin_textbox span {
    display: block;
}

form.signin p, form.signin span {
    color: #999;
    font-size: 11px;
    line-height: 18px;
}

form.signin .pin_textbox input {
    background: #666666;
    border-bottom: 1px solid #333;
    border-left: 1px solid #000;
    border-right: 1px solid #333;
    border-top: 1px solid #000;
    color: #fff;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    font: 13px Arial, Helvetica, sans-serif;
    padding: 6px 6px 4px;
    width: 200px;
}

form.signin input:-moz-placeholder {
    color: #bbb;
    text-shadow: 0 0 2px #000;
}

form.signin input::-webkit-input-placeholder {
    color: #bbb;
    text-shadow: 0 0 2px #000;
}

.pin_button {
    background: -moz-linear-gradient(center top, #f3f3f3, #dddddd);
    background: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#dddddd));
    background: -o-linear-gradient(top, #f3f3f3, #dddddd);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f3f3f3', EndColorStr='#dddddd');
    border-color: #000;
    border-width: 1px;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    color: #333;
    cursor: pointer;
    display: inline-block;
    padding: 6px 6px 4px;
    margin-top: 10px;
    font: 12px;
    width: 214px;
}

.pin_button:hover {
    background: #ddd;
}