body
{
    background-color:#f5f5f5;
}

#FSHeader,#FSFooter
{
    display:none;
}

#content
{
    padding-top:40px;
}

.constrainedContent
{
    width:auto;
}

.error,.warning,.message
{
    width:460px;
    margin:30px auto;
}

#loginContainer
{
    width:520px;
    margin:0 auto;
    border:solid 1px #b5b5b5;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
    padding:0;
    background-color:#fff;
}

#loginHeader
{
    background-color:#000;
    padding:16px;
    -moz-border-radius-topleft:6px;
    -moz-border-radius-topright:6px;
    -webkit-border-top-left-radius:6px;
    -webkit-border-top-right-radius:6px;
    border-top-left-radius:6px;
    border-top-right-radius:6px;
}

#loginHeader h1
{
    margin-bottom:0;
}

#loginContent
{
    margin:40px;
}

.tdLabel
{
    text-align:right;
    padding-right:12px;
    white-space:nowrap;
}

#loginContent label
{
    text-align:right;
    color:#555;
    font-weight:bold;
    text-shadow:0 1px 1px #fff;
    width:100px;
    float:left;
    font-size:13px;
    line-height:18px;
    padding:8px 0;
    margin:0;
    letter-spacing:1px;
}

#email,#password,#captcha_code
{
    padding:8px 4px;
    width:240px;
    margin:0 0 24px;
    color:#444;
    font-size:14px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
}

#password,#captcha_code
{
    width:120px;
}

#captcha_table
{
    margin-bottom:20px;
}

#captcha_table td
{
    border:solid 1px #dde;
    background-color:#FFF;
    padding:4px;
}

#submit
{
    padding:3px 12px;
    font-size:14px;
}

#forgotPassword,#signUp
{
    margin-left:8px;
    color:#555;
    font-size:11px;
    font-weight:normal;
    border-bottom:dotted 1px #999;
    vertical-align:text-top;
}

#socialLinks
{
    text-align:center;
    margin-top:40px;
}

#socialLinks a,#socialLinks a:visited
{
    font-weight:normal;
    color:#333;
}

#socialLinks a img
{
    vertical-align:text-top;
}

td
{
    vertical-align:top;
}


#label
	{
		font-size:13px;
	}