/* A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
 */

/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0;padding:0;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
body{
	font-family:Arial, Helvetica, sans-serif;
	background:#E84C3D;
	 width: 100%;
    min-height: 100%;
}
.wrap{
	width:95%;
	margin:0 auto;
}
.header{
	background:url("../images/user-img.jpg") no-repeat;
	background-size: 100% 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center;
}
.header-top{
	width: 100%;
	clear: both;
	padding:5px 0;
}
.logo{
	text-align:center;
}
.logo a{
	display:inline-block;
}
/*--menu--*/
.cssmenu{
	text-align:center;
}
.cssmenu > ul > li {
	display: inline-block;
}
#nav .current a,.cssmenu > ul > li a:hover {
	border-color:#FFF;
}
.cssmenu > ul > li > a {
	color:#FFF;
	display: block;
	padding:0px 1px 5px 0px;
	border-bottom:3px solid rgba(255, 255, 255, 0);
	font-size:11px;
	text-transform: uppercase;
}
.img-banner{
	padding:1em 0;	
	position: relative;
	text-align:center;	
}
.img-banner-info h1{
	font-size:0.95em;
	font-weight:100;
	color:#FFF;
	text-transform:uppercase;
	line-height:1.2em;
}
.img-banner-info h1 span{
	font-weight:700;
}
.img-banner-info h3{
	font-size: 13px;
	font-weight: 100;
	color: #FFF;
	line-height: 1.5em;
	margin: 10px 0;
}
.img-banner-pic {
	text-align:center;
}
.img-banner-pic img{
	margin-bottom:-5px;
}
/** App Download Button **/
.app-btn a{
	display: inline-block;
	font-size: 12px;
	color: #FFF;
	background: #282828;
	padding: 10px;
	text-transform: uppercase;
}
.app-btn a:hover{
	color:#da332d;
	background:#FFF; 
}
/*--content--*/
.features {
	background:#FFF;
	padding:5% 0;
}
.features h2{
	color: #8A8A8A;
	font-size: 0.85em;
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 2%;
	text-align: center;
}
.features p{
	color:#3a3a3a;
	font-size:13px;
	line-height:1.6em;
	text-align:center;
}
/*  GRID OF THREE   ============================================================================= */
.section {
	clear: both;
	margin: 0px;
}
.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1;
}
.col_1_of_3{
	display: block;
	float:left;
	margin:1% 0;
}
.col_1_of_3:first-child { margin-left: 0; }
.span_1_of_3 {
	width:94%;
    padding:2%;
}
.span_1_of_3  h3{
	color:#1a1a1a;
	font-size:13px;
	font-weight:600;
	text-transform:uppercase;
}
.span_1_of_3  p  {
	font-size:13px;
	padding:0.5em 0;
	color:#646464;
	width:100%;
	line-height: 1.6em;
}
.dc-head-icon {
	text-align:center;
	display:block;
}
.dc-head-info {
	text-align:center;
}
.content-middle{
	padding:4% 0;
	background:#d7dedc url("../images/banner-pic.png") no-repeat center right;
	background-size: 100% 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center;
}
.download-desc{
	width:100%;
}
.content-middle h2 {
	color:#FFF;
	font-size:0.85em;
	margin-bottom:1%;
	font-weight: bold;
	line-height:1.4em;
	text-transform:uppercase;
}
.content-middle h2 span{
	color:#F73D3C;
}
.content-middle p {
	color:#111;
	font-size:13px;
	line-height: 1.6em;
	padding:10px 0;
}
.download-button{
	margin-top:1em;
}
.download-button a{
	display: inline-block;
	padding:8px 10px;
	background: #D9332D;
	font-size: 12px;
	color: #FFF;
	font-weight: 600;
	text-transform: uppercase;
}
.download-button a:hover{
	color:#d9332d;
	background:#FFF;
}
.testimonials{
	padding:5% 0;
}
.testimonials p{
	color:#787878;
	font-size:15px;
	font-weight: 100;
	line-height: 1.6em;
	text-align:center;
}
.testimonials h3{
	font-size:20px;
	color:#E95E5A;
	font-weight:600;
	text-transform:uppercase;
	margin:0.5em 0;
	text-align:center;
}
/*--footer--*/
.footer{
	background:#E84C3D;
	padding:5% 0 0% 0;
}
.footer-top h3{
	color: #FFF;
	font-size: 15px;
	font-weight: 700;
	text-transform: capitalize;
	margin-bottom: 10px;
}
.footer-top p{
	font-size:13px;
	color:#DCDCDC;
	line-height:1.6em;
}
.footer-top p span{
  font-style:italic;	
}
.tweeter-img{
	float:left;
}
.tweeter-img img{
	display:block;
	border:1px solid #FFF;
}
.tweeter-user{
	float:left;
	margin-left:15px;
	margin-top:5px;
}
.tweeter-user p{
	padding:0;
	font-weight:600;
}
.tweeter-user p span{
	font-size:12px;
	font-style:inherit;
	font-weight:normal;
}
.tweeter-desc{
	margin-top:15px;
}
.tweeter-desc a{
	font-weight:600;
	color:#DDD;
	margin-top:15px;
	display:inline-block;
	font-size:14px;
}
.tweeter-desc a:hover{
	text-decoration:underline;
	color:#FFF;
}
.post-desc{
	margin-top:0;
}
.post-img img{
 	border:none;	
}
.footer-top li:first-child{
	margin-top:0;
}
.footer-top li{
	margin-top:15px;
}
.footer-bottom{
	padding:10px 0;
	background:#F9FAFD;
	text-align:center;
	margin-top:2em;
}
.copy p{
	color:#2e2e38;
	font-size:0.8em;
	line-height: 1.8em;
}
.copy p a{
	color:#E3530A;
	font-weight:600;
}
.copy p a:hover{
	color:#1E2024;
	text-decoration:underline;
}
